
.login-block {
    position: absolute;
    text-align:center;
    width:260px;
    border: 1px solid #d09e6d;
    left:40%;
    top:25%;
}

.login-block form {
    -moz-border-radius:15px 15px 15px 15px;
    -moz-box-shadow:0 0 10px #333333;
    border:3px solid white;
    padding:20px;
}

.login-block .active-form {
    border-color:#d09e6d;
}
#register {
    width: 100%;
    height: auto;
    margin-left: 450px;;
}

.jumbotron text-xs-center
{
    left: 50%;
}
#logoutbtn {
    float: right;
    padding: 20px;
    margin-right: 50px;
}
#DataTable.center {
    margin-left:auto; 
    margin-right:auto;
}